@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Geist:wght@100..900&display=swap');

@theme {
  --default-font-family: 'Geist', var(--font-sans);
  --font-display: 'Caveat', sans-serif;
}

@import 'tailwindcss';
@plugin "daisyui";

@layer utilities {
  .text-rotate {
    font-family: 'Caveat', cursive;
  }
  .dock-active:after {
    @apply h-px;
  }
  .dock-active {
    @apply scale-105 transition-all duration-200 font-bold;
    svg {
      @apply transition-all duration-200 stroke-2;
    }
  }
}
