@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Geist:wght@100..900&display=swap');

@theme {
  --default-font-family: 'Geist', var(--font-sans);
  --font-display: 'Caveat', sans-serif;
}

@import 'tailwindcss';
@plugin "daisyui" {
  themes: lofi --default;
}

@layer utilities {
  html, body {
    background-color: var(--color-base-200)
  }
  header.navbar {
    @apply sticky top-0 z-50 bg-base-200/50 backdrop-blur;
    h1 {
      @apply text-xl font-bold;
    }
  }
  .text-rotate {
    font-family: 'Caveat', cursive;
  }
  .dock-active:after {
    @apply h-px;
  }
  .dock-active {
    @apply scale-105 transition-all duration-200 font-bold;
    svg {
      @apply transition-all duration-200 stroke-2;
    }
  }
}
